<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="table-section">
            {% for i in produtos %}
            <tr>
                <th>{{i.nome}}</th>
                <th>{{i.preco}}</th>
                <th><a class="btn-edit" href="/compras/add?id={{i.id}}">Adicionar</a>
                <a class="btn-edit"  href="/compras/del?id={{i.id}}">Remover</a></th><br>
            </tr><br>
            {% endfor %}
        </tbody>
    </table>
<br>
<br>

<center><h1>Carrinho</h1><br>
    <ul>
	{% for i in cesto %}
        {% if i.qtd != "0" %}
		    <p>{{i.nome}} = {{i.total}}({{i.qtd}})</p><br>
        {% endif %}
	{% endfor %}
    </ul></center>
    </div>
</body>
</html>


</html>